@use "./partial/global";
@use "./partial/header";
@use "./partial/mixin";
@use "./partial/footer";

/**** main destination ****/
.greece {
  background-image: url("../assets/Images/greece.jpg");
}
.iceland {
  background-image: url("../assets/Images/iceland.jpg");
}
.hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}

.destination {
  height: 80vh;
  width: 100%;
  @include mixin.flexbox(column, flex-start, stretch);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__name {
    font-size: 5rem;
    color: global.$white;
    margin: 4rem 8rem;
  }

  &__package-table {
    @include mixin.flexbox(row, center, center);
  }

  &__package-card {
    width: 25%;
    height: 33vh;
    border-radius: 5px;
    background-color: global.$white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    min-height: 26rem;
    max-height: 50rem;
    min-width: 15rem;
    max-width: 20rem;
    margin: 2rem;
    @include mixin.flexbox(column, flex-start, center);
    padding: 0.8rem;
  }

  &__package-date {
    width: 90%;
    border-bottom: black 3px solid;
    text-align: center;
    margin-bottom: 1.6rem;
    margin-top: 0.5rem;
  }

  &__package-activities {
    width: 100%;
    margin-top: 0.5rem;
  }

  &__package-item {
    width: 90%;
    background-color: global.$lightbg;
    text-align: center;
    padding: 0.8rem;
    margin: 0.8rem auto;
    font-size: 1.25rem;
  }
}

/***** responsive ******/
@media (max-width: 1250px) {
  /*destination*/
  .destination__name {
    margin: 2rem 4rem;
  }
  .destination {
    height: fit-content;
  }
  .destination__package-table {
    flex-direction: column;
  }
  .destination__package-card {
    width: 40%;
    min-height: 35rem;
    max-height: 50rem;
    min-width: 20rem;
    max-width: 35rem;
  }

  .destination__package-item {
    padding: 1.5rem;
    margin: 1.5rem auto;
  }

  /*footer*/
  @include mixin.respon1250footer;
}

@media (max-width: 800px) {
  /*header*/
  @include mixin.respon800header;
  /*footer*/
  @include mixin.respon800footer;

  /* destination card*/
  .destination__package-card {
    width: 50%;
    min-height: 35rem;
    max-height: 50rem;
    min-width: 20rem;
    max-width: 35rem;
  }
}

@media (max-width: 700px) {
  .footer__info-container,
  .footer__item-container {
    @include mixin.respon700;
  }

  .destination__name {
    font-size: 4rem;
    margin: 2rem;
  }
  .destination__package-card {
    width: 60%;
    min-height: 35rem;
    max-height: 50rem;
    min-width: 20rem;
    max-width: 35rem;
  }
}
