@use "./partial/global";
@use "./partial/header";
@use "./partial/mixin";
@use "./partial/footer";

// header & nav
@include mixin.tablet {
  .header {
    flex-direction: column;
    padding: 1.25rem 2rem;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    & li {
      margin: 0.5rem 0;
    }
    &__link {
      margin: 0;
      padding: 0.4rem;
    }
  }
}

/***** hero ******/
.title1 {
  @include mixin.title1;
}
.text1 {
  @include mixin.text1;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45vh;
  min-height: 33rem;
  background-color: #fefaf5;

  &__description {
    @include mixin.flexbox(column, flex-start, stretch);
    width: 50%;
    margin-left: 6rem;

    @include mixin.tablet {
      width: 80%;
      margin: 0 auto;
      margin-left: 4rem;
    }

    @include mixin.mobil {
      margin: 0 2.5rem;
    }
  }

  &__image-container {
    @include mixin.flexbox(row, center, center);
    width: 50%;
    margin: 0 auto;
  }

  &__image {
    width: 80%;
    max-width: 30rem;

    @include mixin.tablet {
      display: none;
    }
  }

  &__description .text1 {
    margin: 2.5rem 0;
    margin-right: 1.25rem;
    line-height: 1.5rem;
  }

  &__button {
    width: fit-content;
    padding: 0.6rem 2.5rem;
    background-color: global.$orange;
    border-radius: 20px;
    color: global.$white;
    //  animation: shaking 2s linear 0 infinite;
    animation-name: shaking;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    //  animation-delay: 2s;
    animation-iteration-count: infinite;
  }
}

/***** recommendation ******/
.recommendation {
  width: 100%;
  @include mixin.flexbox(column, flex-start, stretch);
  padding: 2.5rem 5rem;

  &__destination-container {
    @include mixin.flexbox(row, space-around, center);
    margin: 2.5rem;

    @include mixin.desktop {
      flex-direction: column;
      align-items: center;
    }
  }

  &__destination-link {
    @include mixin.desktop {
      margin: 1rem;
    }
  }

  &__destination-link:hover,
  &__destination-link:active {
    opacity: 0.7;
    box-shadow: 0px 4px 4px global.$orange;
  }

  &__destination {
    width: 20%;
    height: 35vh;
    min-height: 28rem;
    max-height: 40rem;
    min-width: 19rem;
    max-width: 35rem;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;

    @include mixin.desktop {
      width: 50%;
      min-height: 35rem;
      max-height: 45rem;
      min-width: 22rem;
      max-width: 35rem;
    }

    @include mixin.mobil {
      width: 80%;
      min-height: 25rem;
      max-height: 30rem;
      min-width: 15rem;
      max-width: 20rem;
    }
  }
}

.destination1 {
  background-image: url("../assets/Images/hawaii.jpg");
}
.destination2 {
  background-image: url("../assets/Images/iceland.jpg");
}
.destination3 {
  background-image: url("../assets/Images/greece.jpg");
}

.destination-name {
  color: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

// footer
.footer {
  @include mixin.desktop {
    &__container {
      align-items: flex-start;
    }
    &__info-container {
      flex-direction: column;
      align-items: flex-start;
    }
    &__item-info:nth-of-type(2),
    &__item-info:nth-of-type(3) {
      margin-left: 0;
    }
  }

  @include mixin.tablet {
    &__container {
      flex-direction: column;
      align-items: flex-start;
    }
    &__item-container {
      flex-direction: column;
      margin: 0.5rem;
    }
    &__info-container {
      display: flex;
      flex-direction: row;
    }
    &__item-container > .title2 {
      margin: 0.5rem 0;
    }
  }

  @include mixin.tablet-s {
    &__info-container,
    &__item-container {
      flex-direction: column;
    }
  }
}

//animation
@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(3deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
