* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-width: 350px;
}

$dark: #335576;
$white: #ffffff;
$orange: #db7a4e;
$lightbg: #fefaf5;

$desktop: 80rem;
$tablet: 50rem;
$tablet-s: 43.75rem;
$mobil: 28.125rem;
