@use "./global";

@mixin title1 {
  font-size: 2.48rem;
  font-weight: bold;
  color: global.$dark;
}

@mixin title2 {
  font-size: 1.44rem;
  font-weight: bold;
  color: global.$dark;
}

@mixin text1 {
  font-size: 1rem;
  color: global.$dark;
}

@mixin flexbox(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// responsive
@mixin desktop {
  @media (max-width: global.$desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: global.$tablet) {
    @content;
  }
}

@mixin tablet-s {
  @media (max-width: global.$tablet-s) {
    @content;
  }
}

@mixin mobil {
  @media (max-width: global.$mobil) {
    @content;
  }
}
